STAFF_APPLICATIONS_DATA_PATH=/srv/drakora/applications/data
STAFF_DATA_PATH=/srv/drakora/staff/data
STAFF_CONFIG_PATH=/srv/drakora/staff/secrets/config.json
STAFF_STATUS_SOCKET_PATH=/srv/drakora/status
HULY_NETWORK=huly_net
